.filterContainer {
    display: flex !important;
    justify-content: space-between !important;
}

.filterLeftContainer {
    column-gap: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.noticeBox{
    height: 37px;
    justify-content: center;
    align-items: center;
}